/*Preset CSS*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Gudea', sans-serif;
    color: #17052D;
    text-decoration: none;
}

/*Cor de fundo Light Mode*/
body {
    background-color: whitesmoke;
}

/*Barra de navegação que irá em todas as páginas*/
nav {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 2px solid rgb(23, 5, 45);
    font-size: 24px;
}

.container_nav {
    display: flex;
}

#nav_contato {
    margin-right: 2.5rem;
}

#nav_habilide {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#nav_projetos {
    margin-left: 2.5rem;
}

#nav_sobre {
    margin-left: 2.5rem;
}

/*Código página de Contatos*/

.texto_principal {
    font-size: 64px;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
}

main {
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 15rem;
}

.texto_contatos {
    font-size: 40px;
}